{% load mathfilters %}
<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rana Motors Limited - Invoice</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="invoice.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->

    
    <style>
   *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:"Tahoma",sans-serif;
    font-size: 14px;
}
.container{
    font-family:"Tahoma",sans-serif;
    font-size: 14px;
    margin:auto;
    display: block;
    
}

h3{
    font-size: 20px;
}
h5{
    font-size: 17px;
}
h6{
    font-size: 12px;
}

.my-0{
    margin-left: -0.25rem;
}


.mt-n1 {
    margin-top: -.30rem !important;
  }


  .mt-n3 {
    margin-top: -1rem !important;
  }

  .mt-n2 {
    margin-right: -0.25rem !important;
  }



       
    </style>
    <title>cashmemeo</title>
</head>

<body>
  
    <div class="card card-one">
     
        <div class="mx-1">
          <div class="text-center">
            <img width=78 height=42
            id="Picture 1" src="http://www.ranamotorsbd.com/images/Rana-Motors-Logo.png" alt="Rana-Motors-Logo"> <b><span
            style='font-size:16.0pt;line-height:107%;font-family:"Tahoma",sans-serif'>RANA
            MOTORS LIMITED</span></b> 
            <p class="card-text">Address: Apollo Hospital Exit Road, Baridhara, Dhaka-1229, Cell: +8801842-111634, +8801842111636, +8801842111612</p>
            


              <div class="text-center mt-n1"><span class=" border border-dark px-4 py-1 fw-bold">INVOICE</span></div> 
             
          
            <div class="d-flex justify-content-end">
              <span class="float-end fw-bold">CALAN</span>
            </div>
          </div>

      
          <table class="table table-sm table-bordered border-dark">
          
            <tbody>
              <tr>
                <th scope="row">Invoice No</th>
                <td>{{date.invoicenumber}}</td>
                <th scope="row">Date</th>
                <td>{{ date.added| date:"F d, Y"}}</td>
               
                
              </tr>
              {% if date.customer.name != None %}
              <tr>
                <th scope="row">Client Name</th>
                <td>{{date.customer.name|title}}</td>
                <th scope="row">Mobile No</th>
                <td>{{date.customer.Phone}}</td>
                
              </tr>
               {% endif%}
               {% if date.customer.name == None %}
              <tr>
                <th scope="row">Client Name</th>
                <td>{{date.name|title}}</td>
                <th scope="row">Mobile No</th>
                <td>{{date.Phone}}</td>
                
              </tr>
               {% endif%}


              <tr>
                <th scope="row">Address</th>
                <td colspan="3">{{date.customer.address|title}}</td>
               
               
              </tr>
             
              <tr>
                <th scope="row">Delivery Address</th>
                <td>{{date.address|title}}</td>
                <th scope="row">Vehecle No</th>
                <td>{{date.vehicleno}}</td>
                
              </tr>
            </tbody>
          </table>
    
          <table class="table table-sm table-bordered border-dark mt-n1">
            <thead class="" style="background: rgba(77, 78, 83, 0.425);">
              <tr>
                <th class="text-center" scope="col">SL#</th>
                <th class="text-center" scope="col">Description</th>
                <th class="text-center" scope="col">Model No</th>
                <th class="text-center" scope="col">Brand</th>
                <th class="text-center" scope="col">Quantity</th>
                
              </tr>
            </thead>
            <tbody>

              {% for rs in orders %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>	
                {% if rs.sparename %}
                <td>{{ rs.sparename }}</td>
                <td align="center">N/A</td>
                <td align="center">{{ rs.product.brand }}</td>
                <td align="center">{{ rs.quantity }}</td>
                
               
                {% elif not rs.sparename and  rs.product.groupname and  rs.exchange_ammount != 0 %}
                <td>{{ rs.product.productcatagory }} - Exchange -<br> {{ rs.product.name }} {{ rs.engine_no|default:"" }} </td>
                <td align="center">N/A</td>
                <td align="center">{{ rs.product.brand }}</td>
                <td align="center">{{ rs.quantity }}</td>
               
               




                {% elif not rs.sparename and  rs.product.groupname and not rs.exchange_ammount != 0 %}
                <td>  {{ rs.product.productcatagory }} <br> {{ rs.product.name }} {{ rs.engine_no|default:"" }} </td>
                <td align="center">N/A</td>
                <td align="center">{{ rs.product.brand }}</td>
                <td align="center">{{ rs.quantity }}</td>
               
               



               

                {% elif not rs.sparename and  not rs.product.groupname and  rs.exchange_ammount != 0 %}
                <td> {{ rs.product.productcatagory }} -Exchange {{ rs.product.name }} {{ rs.engine_no|default:"" }} </td>
                <td align="center">N/A</td>
                <td align="center">{{ rs.product.brand }}</td>
                <td align="center">{{ rs.quantity }}</td>
                
                
               
                {% elif not rs.sparename and  not rs.product.groupname and not rs.exchange_ammount != 0 %}
                <td>{{ rs.product.productcatagory }} - {{ rs.product.name }} {{ rs.engine_no|default:"" }} </td>
                <td align="center">N/A</td>
                <td align="center">{{ rs.product.brand }}</td>
                <td align="center">{{ rs.quantity }}</td>
                
               
                {% else %}
               
               
                {% endif %}
              </tr>
              {% endfor %}
              
             
            
            </tbody>
           
          </table>
  
          
          
            
           
      </div>
      
      
        

        
      
    
      
     
      <div class="my-3 mx-4">
          <div class="float-start">
              <table>
                  <tr>
                      <td width="16%" valign="top"><h6 style="margin-bottom: 0;">
                          <span style="text-decoration: dashed; padding-left: 100%;color: #000; border-bottom: 1px solid black;"></span>
                      </h6>
                          <h6 class="text-center fw-bold"
                          style="margin-top: 5px;">RECEIVED BY</h6></td>
                  </tr>
              </table>
          </div>

          <div class="float-end">
              <table>
                  <tr>
                      <td width="16%" valign="top"><h6 style="margin-bottom: 0;">
                          <span style="text-decoration: dashed; padding-left: 100%;color: #000; border-bottom: 1px solid black;"></span>
                      </h6>
                          <h6 class="text-center fw-bold"
                          style="margin-top: 5px;">FOR RANA MOTORS LIMITED</h6></td>
                  </tr>
              </table>
          </div>

      </div>
    </div>  







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>