




<div class="flex flex-wrap infinite-container" >
                   
    {% for product in pro %}
    
    <a href="#"
        class="w-[47%] p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 m-1">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{ product.name}}
        </h5>
        <div class="flex justify-between">
            <p class="font-normal text-gray-700 dark:text-gray-400 px-1">
                TK{{ product.price }}
            </p>
            
            <p class="font-normal   text-red mx-1">
                Qty: {{ product.quantity }}
            </p>
            <button
                class="save btn btn-info"
                unicorn:click="add_item( {{product.pk}} )">
                Add 
            </button>

            <button class="h-8  text-indigo-700 transition-colors duration-150 border border-indigo-500 rounded-lg focus:shadow-outline hover:bg-indigo-500 hover:text-indigo-100"
            onclick="window.location.href = '{{product.id}}/update'">
            price set
            </button>

            {% if product.groupname == None%}
               
            {% else %}
            <button class="bg-blue-500 hover:bg-blue-700 text-white text-xs font-bold py-1 px-1 rounded w-40  mr-px"
            onclick="window.location.href = '/{{product.id}}/group'">
            group
            </button>
            {% endif %}
            
            
        </div>
    </a>
    
    {% endfor %}

</div>

