<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rana Motors Limited - Invoice</title>
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="invoice.css">
    
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        
        <script>
          tailwind.config = {
            theme: {
              extend: {
                fontFamily: {
                  sans: ['Inter', 'sans-serif'],
                },
              }
            }
          }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <style>
               *{
                  box-sizing: border-box;
                  margin: 0;
                  padding: 0;
              }
              body{
                  font-family:"Tahoma",sans-serif;
                  font-size: 10px;
              }
              .container{
                  font-family:"Tahoma",sans-serif;
                  font-size: 12px;
                  margin:auto;
                  display: block;
                  
              }
    
              h3{
                  font-size: 20px;
              }
              h5{
                  font-size: 17px;
              }
              h6{
                  font-size: 12px;
              }
    
              .my-0{
                  margin-left: -0.25rem;
              }
    
    
              .mt-n1 {
                  margin-top: -.30rem !important;
              }
    
    
              .mt-n3 {
                  margin-top: -1rem !important;
              }
    
              .mt-n2 {
                  margin-right: -0.25rem !important;
              }
    
        </style>
    
    
    </head>

<body>
    {% load crispy_forms_tags %}
    {{ form.media }}
     
    <form method="get" class="flex items-center space-x-5">

      <!-- Apply "crispy" filter to your form -->
      {{ myFilter.form|crispy }}
      
      <button class="bg-transparent hover:bg-gray-800 text-blue-900 font-semibold hover:text-gray-900 py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="submit">Search</button>
    </form>
      <div class="card card-one">
       
          <div class="mx-1">
            <div class="text-center">
              <img width=78 height=42
              id="Picture 1" src="http://www.ranamotorsbd.com/images/Rana-Motors-Logo.png" alt="Rana-Motors-Logo"> <b><span
              style='font-size:16.0pt;line-height:107%;font-family:"Tahoma",sans-serif'>RANA
              MOTORS LIMITED</span></b> 
              <p class="card-text">Address: Uttara 3rd Phase Connecting Road, Diabari, Dhaka-1230, 01842-111631, 01815-644860</p>
              
  
  
                <h5> <b>Report Local Container - Profit and Loss [start_date:{{start_date}}: 
                  end_date:{{end_date}} ] </b></h5>
               
            
              <div class="d-flex justify-content-end">
                <span class="float-end fw-bold"></span>
              </div>
            </div>

            
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <table class="table my-2 table-sm table-bordered border-dark mt-n1">
                      <thead class="" style="background: rgba(77, 78, 83, 0.425);">
                        <tr>
                          <th class="text-center" scope="col">Cash Summary</th>
                          <th class="text-center" scope="col">Cash Receive</th>
                          <th class="text-center" scope="col">Due Receive</th>
                          <th class="text-center" scope="col">Balance</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Opening Balance</th>
                          <td></td>
                          <td></td>
                          <td>{{ openbalance }}</td>
                        
                          
                        </tr> 
                        <tr>
                          <th scope="row">Collection (Cash + Due)</th>
                          <td>{{cash}}</td>
                          <td>{{dew}}</td>
                          <td>{{collentionbalance}}</td>
                         
                          
                        </tr> 
                        <tr>
                          <th scope="row">Cash Return</th>
                          <td colspan="2">{{returnprice}}</td>
                          
                          <td>{{cashreturnbalance}}</td>
                          
                          
                        </tr> 

                        <tr>
                          <th scope="row">Commission + Discount</th>
                          <td>{{comm}}</td>
                          <td>{{discount}}</td>
                          <td>{{commisiondisreportbalnce}}</td>
                          
                          
                        </tr> 
                        <tr>
                          <th scope="row">Pretty Cash</th>
                          <td colspan="2">{{pettycashtransfer }}</td>
                          
                          <td>{{pettycashreportbalnce}}</td>
                          
                          
                        </tr> 

                        <tr>
                          <th scope="row">Deposite Corporate Office</th>
                          <td colspan="2">{{corporrateex}}</td>
                          
                          <td>{{closeblance}}</td>
                          
                          
                        </tr> 
                       

                        <tr>
                          <td  align="right" colspan="3"><b>Closing Balance</b></td>
                          <td>{{closeblance}}</td>
                        </tr>
                       
                      
                      </tbody>
                     
                    </table>
            
                  </div>
                </div>
              </div>

              <!--PL Summary Report-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    
                    <table class="table my-3 table-sm table-bordered border-dark mt-n1">
                      <thead class="" style="background: rgba(77, 78, 83, 0.425);">
                        <tr>
                          <th class="text-center" scope="col" colspan="5">PL Summary Report</th>
                         
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Total Sales</th>
                          <td>{{ duesales}} due sale </td>
                          <td>{{withoutex}} out ex</td>
                          <td>{{e}} exchange</td>
                          <td>{{s}}</td>
                        
                          
                        </tr> 

                        <tr>
                          <th scope="row">Net  Sales(with out return)</th>
                          <td >{{ returnprice}} return price </td>
                          <td>{{oldreturnpricet}} old return</td> 
                          
                          <td>{{ netsale }}</td>
                          <td>{{ netsale2 }} current duration</td>
                          
                        </tr> 
                        <tr>
                          <th scope="row">Total Costing</th>
                          <td colspan="4">{{totalcost}}</td>
                          
                         
                          
                        </tr> 
                        <tr>
                          <th scope="row">Total Profit</th>
                          <td colspan="3">{{grossprofit}}</td>
                          
                          <td>{{percentageprofit}} %</td>
                          
                          
                        </tr> 
                        <tr>
                          <th scope="row">Office expense</th>
                          <td colspan="4">{{officeexpense}}</td>
                          
                          
                          
                        </tr> 
                        <tr>
                          <th scope="row">Net Profit</th>
                          <td colspan="4">{{netprofit}}</td>
                          
                         
                          
                          
                        </tr> 
                        

                        <tr>
                          <th scope="row">MR </th>
                          <td colspan="4">10,000</td>
                          
                          
                          
                        </tr> 

                       

                      
                       
                      
                      </tbody>
                     
                    </table>
                    <!---Total Costing table start-->
                    <table class="table my-2 table-sm table-bordered border-dark mt-n1">
                      <thead class="" style="background: rgba(77, 78, 83, 0.425);">
                         <tr>
                         <th class="text-center" scope="col" colspan="5">Total Costing</th>


                         </tr>
                         <tr>
                          <th class="text-center" scope="col">Product Costing</th>
                          <th class="text-center" scope="col">Commission</th>
                          <th class="text-center" scope="col">Discount</th>
                          <th class="text-center" scope="col">Return product cost</th>
                          <th class="text-center" scope="col">Total</th>
                          
                        </tr>
                       
                      </thead>
                      <tbody>
                      
                        <tr>
                          <td>{{c}}</td>
                          <td>{{comm}}</td>
                          <td>{{discount}}</td>
                          <td>{{returncostprice}}</td>
                          <td >{{totalcost}}</td>
                          
                          
                          
                          
                        </tr> 

                      
                      

                       

                      
                       
                      
                      </tbody>
                     
                    </table>

                    <!--Total Costing table end-->
                  </div>
                </div>
              </div>
            </div>

           
      
         
    
            
            
              
             
        </div>
        <div class="card mx-1 my-2">
          <!--<h5 class="card-header"></h5>-->
          <div class="card-body">
            <table class="table my-2 table-sm table-bordered border-dark mt-n1">
              <thead class="" style="background: rgba(77, 78, 83, 0.425);">
                <tr>
                  <th class="text-center" scope="col">Date</th>
                  <th class="text-center" scope="col">Invoice No</th>
                  <th class="text-center" scope="col">Product Name</th>
                  <th class="text-center" scope="col">Qty</th>
                  <th class="text-center" scope="col">Unit Price</th>
                  <th class="text-center" scope="col">Ex. Amount</th>
                  <th class="text-center" scope="col">Sales Price</th>
                  <th class="text-center" scope="col">Cost Price</th>
                  <th class="text-center"  scope="col">P.P.U</th>
                  
                  <th class="text-center" scope="col">Total Profit</th>
                  <th class="text-center" scope="col">Remarks</th>
                </tr>
              </thead>
              <tbody>

                
                {% for rs in orders %}
                  {{rs.ammount}} 
                  
                {% for b in a %}
                
                {% if b.order_id == rs.order_id %}
                  
                <tr>
                


                
                  <td >{{ b.added| date:"d F, Y"}}</td>
                  <td>{{b.added|date:"dmy-gi"}}</td>
                  <td>{{ b.product.name }}</td>
                  
                  <td>{{ b.quantity}}</td>
                  <td align="right">{{ b.price1}}</td>
                  <td align="right">{{ b.exchange_ammount}}</td>
                  <td align="right">{{ b.total_price}}
                    
                  </td>
                  <td align="right">{{b.costprice}}</td>
                  
                  <td align="right">{{b.totalprofit}}</td>
                  <td align="right">{{b.remarks}}</td>
                  
                </tr> 
               
                {% endif%}
                {% endfor %}
                {% endfor %}
                
                <tr>
                  <td align="right" scope="row" colspan="6"><b>Total Profit</b></td>
                  <td align="right" colspan="1" >{{s}}</td>
                  <td align="right" colspan="1" >{{c}}</td>
                  <td align="right" ></td>
                  <td align="right" >{{profit}}</td>
                  <td align="right" ></td>
                 
                </tr>

              
              </tbody>
             
            </table>
          </div>
        </div>
         
   
      </div>  
    </div>
</body>








 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
</html>
